header {
    background-color: 	#505050
  }

  header h1 {
    margin: auto;
    padding: 5px;
    text-align: center;
    color: aliceblue;
  }

  input {
    border: 2px solid black;
  }

  h3 {
    margin: auto;
    font-size: 20px;
  }

  table {
    border: 1px solid black;
    width: 50%;
  }
  